<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simmetrica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/rickshaw.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <h1 id="top-title">Simmetrica</h1>
    </header>
    <section id="graphs">
        <h3 id="loading">Loading...</h3>
        <h3 id="errormessage"></h3>
    </section>
    <footer>
        
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery-ui-1.10.2.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/rickshaw.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
</body>
</html>
